In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%load_ext autotime
import os
import sys
sys.path.insert(0, os.path.abspath('../src/'))
import utils
import improve_data_quality
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import typo
import function_typo
pd.set_option("display.max_rows", 30, "display.max_columns", None) #show 10 rows and 5 columns

time: 1.78 s (started: 2021-09-06 16:01:33 +02:00)

In [2]:
train_data_path = "../data/data.csv"
test_data_path = "../data/test.csv"

#df_test = utils._to_DataFrame(test_data)
#meta_data = utils.get_metadata(df)

time: 556 Âµs (started: 2021-09-06 16:01:36 +02:00)

In [3]:
from improve_data_quality import Data 
data_train = Data(train_data_path)
#data_test = Data(test_data_path)
df = data_train.data

time: 559 ms (started: 2021-09-06 16:01:37 +02:00)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (14,15,16,23,24,25,26,28,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df["Drive_System"]

In [5]:
col1_name ="ProductGroupDesc"
col2_name = "Drive_System"
pd.DataFrame(df.groupby([col1_name, col2_name], group_keys=True, ).size())

                                       0
ProductGroupDesc Drive_System
BaVkhoe Loaders  Four Wheel Drive      1
Bacfhoe Loaders  Four Wheel Drive      1
BackDoe Loaders  Four Wheel Drive      1
BackRoe Loaders  Two Wheel Drive       1
Backhoe LoVders  Four Wheel Drive      1
Backhoe LoadeTs  Four Wheel Drive      1
Backhoe Loaderq  Four Wheel Drive      1
Backhoe Loaders  All Wheel Drive       3
                 Four Wheel Drive  11132
                 Two Wheel Drive   15639
Backhoe Loadvrs  Four Wheel Drive      1
Backhoe Loadzrs  Two Wheel Drive       1
Backhoe Lokders  Four Wheel Drive      1
Backhoe Loqders  Four Wheel Drive      1
Backhoe Loyders  Four Wheel Drive      1
BackhoePLoaders  Four Wheel Drive      1
Backhou Loaders  Two Wheel Drive       1
Mitor Graders    No                    1
Motor GrWders    No                    1
Motor Graders    All Wheel Drive     166
                 No                 5744
Motor Graeers    No                    1
Motor Grapers    No                    1
Motor lraders    No                    1
iackhoe Loaders  Two Wheel Drive       1

time: 28.6 ms (started: 2021-09-06 16:05:34 +02:00)

In [6]:
data_train.firstpass()

/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "

/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:134: UserWarning: All samples have mutually equal similarities. Returning arbitrary cluster center(s).
  warnings.warn("All samples have mutually equal similarities. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "
/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_affinity_propagation.py:146: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 0.25 which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(("'random_state' has been introduced in 0.23. "

time: 46.6 s (started: 2021-09-05 16:34:07 +02:00)

In [5]:
ind = 20654
col1_name="UsageBand"
col2_name='fiSecondaryDesc'
ss = df[[col1_name, col2_name]]
ss.corr()

Empty DataFrame
Columns: []
Index: []

time: 8.01 ms (started: 2021-09-05 13:26:36 +02:00)

In [6]:
ss.corr()

Empty DataFrame
Columns: []
Index: []

time: 3.26 ms (started: 2021-09-05 13:26:36 +02:00)

In [10]:
len(df)

100000

time: 3.46 ms (started: 2021-09-05 23:16:08 +02:00)

In [9]:
dd = df.groupby(['fiSecondaryDesc']).size()
pd.DataFrame(dd).T

fiSecondaryDesc,-2,-3,1,2,3,7,A,AG,AX,B,B,BL,BLGP,BZD,C,CH,CS,D,DXT,DZ,E,EST,EX,F,FR,G,GT,H,HAG,HD,HDSL,HF,HZ,J,JX,K,L,LC,LCD,LCM,LE,LGP,LR,LS,LT,LX,M,M,MR,MRX,MSR SPIN ACE,MT,MXT,N,NE,NX,P,PS,PT,PX,Q,R,R-2,RC,S,SB,SE,SG,SJ,SR,SRLC,STD,SUPER E,SUPER K,SUPER L,SUPER LE,SUPER M,SUPER M PLUS,SUPER R,SXT,T,TC,TM,TTL,TX,U,UNA,UR,URG,US,USR,UU,V,WD,WX,X,XL,XT,Z,ZF,ZHS G,ZT,ZTM,ZTS
0,3,2,1,3,9,9,224,2,12,12117,29,246,1,5,13537,11,1,4582,5,2,3042,1,143,3743,3,6806,7,7033,11,11,1,1,1,283,1,4241,3761,423,2,4,100,5,7,1,3,36,2322,1,156,2,3,1,24,827,2,6,104,3,17,153,21,696,1,1,36,1,41,63,2,59,11,1,145,550,2794,5,662,1,1,3,27,3,10,1,6,4,2,6,3,96,1,31,1,2,7,4,1,1303,178,22,1,1,1,8

time: 37.1 ms (started: 2021-09-05 17:04:50 +02:00)

In [21]:
pd.DataFrame(dd)

                           0
UsageBand fiSecondaryDesc
HIGH      B                1
          D                1
          G                1
          H                1
          M                1
...                       ..
low       D                1
          G                3
medium    C                3
          G                3
          XT               1

[231 rows x 1 columns]

time: 7.46 ms (started: 2021-09-05 10:04:41 +02:00)

In [12]:
ss.loc[ind]

UsageBand          Low
fiSecondaryDesc     AX
Name: 20654, dtype: object

time: 2.38 ms (started: 2021-09-05 09:59:49 +02:00)

In [9]:
col3_name="fiModelDesc"
col4_name='fiSecondaryDesc'
s = df[[col3_name, col4_name]]
s.loc[ind]

fiModelDesc        D155AX-3
fiSecondaryDesc          AX
Name: 20654, dtype: object

time: 7.82 ms (started: 2021-09-05 10:23:12 +02:00)

In [12]:
s

      fiModelDesc fiSecondaryDesc
0            521D               D
1          950FII               F
2             226             NaN
3        PC120-6E             NaN
4            S175             NaN
...           ...             ...
99995         12G               G
99996         12G               G
99997         12G               G
99998         12G               G
99999         12G               G

[100000 rows x 2 columns]

time: 7.63 ms (started: 2021-09-05 10:28:22 +02:00)

In [11]:
s.corr(method ='pearson')

Empty DataFrame
Columns: []
Index: []

time: 2.53 ms (started: 2021-09-05 10:28:10 +02:00)

In [4]:
col1_name="ProductGroupDesc"
col2_name='Drive_System'
ss = df[[col1_name, col2_name]].reset_index()
ss

       index    ProductGroupDesc Drive_System
0          0        Wheel Loader          NaN
1          1        Wheel Loader          NaN
2          2  Skid Steer Loaders          NaN
3          3    Track Excavators          NaN
4          4  Skid Steer Loaders          NaN
...      ...                 ...          ...
99995  99995       Motor Graders           No
99996  99996       Motor Graders           No
99997  99997       Motor Graders           No
99998  99998       Motor Graders           No
99999  99999       Motor Graders           No

[100000 rows x 3 columns]

time: 14.1 ms (started: 2021-09-05 09:39:03 +02:00)

In [13]:
df.corr()

,Unnamed: 0,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,ProductGroup
Unnamed: 0,1.000000,0.990815,0.088682,0.044909,-0.234328,0.739455,0.070760,0.236493,-0.018070,NaN
SalesID,0.990815,1.000000,0.071493,0.091953,-0.248504,0.810028,0.084194,0.240226,-0.016336,NaN
SalePrice,0.088682,0.071493,1.000000,-0.123951,0.028079,-0.016970,-0.026021,0.040209,0.109269,NaN
MachineID,0.044909,0.091953,-0.123951,1.000000,-0.047135,0.300399,0.060165,-0.001200,-0.039624,NaN
ModelID,-0.234328,-0.248504,0.028079,-0.047135,1.000000,-0.314850,-0.039513,0.032919,-0.154073,NaN
datasource,0.739455,0.810028,-0.016970,0.300399,-0.314850,1.000000,0.126060,0.248082,-0.065720,NaN
auctioneerID,0.070760,0.084194,-0.026021,0.060165,-0.039513,0.126060,1.000000,0.017996,-0.007144,NaN
YearMade,0.236493,0.240226,0.040209,-0.001200,0.032919,0.248082,0.017996,1.000000,-0.208373,NaN
MachineHoursCurrentMeter,-0.018070,-0.016336,0.109269,-0.039624,-0.154073,-0.065720,-0.007144,-0.208373,1.000000,NaN
ProductGroup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

time: 40.1 ms (started: 2021-09-05 10:32:54 +02:00)

In [19]:

dd = df.groupby([col1_name, col2_name], group_keys=True, ).size().reset_inex()
dd

AttributeError: 'Series' object has no attribute 'reset_inex'

time: 29.2 ms (started: 2021-09-05 01:08:31 +02:00)

In [10]:
import pandas as pd, numpy as np

#df = pd.DataFrame(np.random.randint(0, 4, (50, 5)),
                  #index=np.random.randint(0, 4, 50))

df = df.reset_index()

res = df.groupby([col1_name, col2_name]).agg({2: 'count', 'index': lambda x: tuple(x)}).reset_index()
res

SpecificationError: Column(s) [2] do not exist

time: 49.7 ms (started: 2021-09-05 00:56:24 +02:00)

In [18]:


d = pd.DataFrame(np.random.randint(0, 4, (10, 5)),
                  index=np.random.randint(0, 4, 10))
print(d)
d = d.reset_index()
print(d)
res = d.groupby([0, 1]).agg({2: 'count', 'index': lambda x: tuple(x)}).reset_index()
res

   0  1  2  3  4
0  3  3  1  3  1
0  1  2  3  1  2
0  0  0  1  2  1
3  0  3  3  2  2
0  1  0  1  0  3
3  1  2  2  0  2
2  1  2  3  2  1
2  1  2  3  2  3
0  3  2  3  2  2
3  2  1  1  3  3
   index  0  1  2  3  4
0      0  3  3  1  3  1
1      0  1  2  3  1  2
2      0  0  0  1  2  1
3      3  0  3  3  2  2
4      0  1  0  1  0  3
5      3  1  2  2  0  2
6      2  1  2  3  2  1
7      2  1  2  3  2  3
8      0  3  2  3  2  2
9      3  2  1  1  3  3

   0  1  2         index
0  0  0  1          (0,)
1  0  3  1          (3,)
2  1  0  1          (0,)
3  1  2  4  (0, 3, 2, 2)
4  2  1  1          (3,)
5  3  2  1          (0,)
6  3  3  1          (0,)

time: 20.9 ms (started: 2021-09-05 00:47:28 +02:00)

In [1]:
#summery_tuple = data_train.dual_hist(col1_name="ProductGroupDesc", col2_name='Drive_System' ,first_pass=True)

In [5]:
summery_tuple

(array([('BaVkhoe Loaders', 'Four Wheel Drive'),
        ('Bacfhoe Loaders', 'Four Wheel Drive'),
        ('BackDoe Loaders', 'Four Wheel Drive'),
        ('BackRoe Loaders', 'Two Wheel Drive'),
        ('Backhoe LoVders', 'Four Wheel Drive'),
        ('Backhoe LoadeTs', 'Four Wheel Drive'),
        ('Backhoe Loaderq', 'Four Wheel Drive'),
        ('Backhoe Loaders', 'All Wheel Drive'),
        ('Backhoe Loaders', 'Four Wheel Drive'),
        ('Backhoe Loaders', 'Two Wheel Drive'),
        ('Backhoe Loadvrs', 'Four Wheel Drive'),
        ('Backhoe Loadzrs', 'Two Wheel Drive'),
        ('Backhoe Lokders', 'Four Wheel Drive'),
        ('Backhoe Loqders', 'Four Wheel Drive'),
        ('Backhoe Loyders', 'Four Wheel Drive'),
        ('BackhoePLoaders', 'Four Wheel Drive'),
        ('Backhou Loaders', 'Two Wheel Drive'), ('Mitor Graders', 'No'),
        ('Motor GrWders', 'No'), ('Motor Graders', 'All Wheel Drive'),
        ('Motor Graders', 'No'), ('Motor Graeers', 'No'),
        ('Motor Grapers', 'No'), ('Motor lraders', 'No'),
        ('iackhoe Loaders', 'Two Wheel Drive')], dtype=object),
 array([    1,     1,     1,     1,     1,     1,     1,     3, 11131,
        15636,     1,     1,     1,     1,     1,     1,     1,     1,
            1,   166,  5744,     1,     1,     1,     1]))

time: 3.07 ms (started: 2021-09-04 23:50:14 +02:00)

In [15]:
s = pd.DataFrame(summery_tuple).T
dd = np.quantile(s[1], 0.75)
dd

1.0

time: 7.36 ms (started: 2021-09-04 17:46:54 +02:00)

In [ ]:
np.mean(np.array([1,1,1,1,1,1,100,1,2,4])

In [16]:
s[s[]]

                                      0      1
0   (BaVkhoe Loaders, Four Wheel Drive)      1
1   (Bacfhoe Loaders, Four Wheel Drive)      1
2   (BackDoe Loaders, Four Wheel Drive)      1
3    (BackRoe Loaders, Two Wheel Drive)      1
4   (Backhoe LoVders, Four Wheel Drive)      1
5   (Backhoe LoadeTs, Four Wheel Drive)      1
6   (Backhoe Loaderq, Four Wheel Drive)      1
7    (Backhoe Loaders, All Wheel Drive)      3
8   (Backhoe Loaders, Four Wheel Drive)  11131
9    (Backhoe Loaders, Two Wheel Drive)  15636
10  (Backhoe Loadvrs, Four Wheel Drive)      1
11   (Backhoe Loadzrs, Two Wheel Drive)      1
12  (Backhoe Lokders, Four Wheel Drive)      1
13  (Backhoe Loqders, Four Wheel Drive)      1
14  (Backhoe Loyders, Four Wheel Drive)      1
15  (BackhoePLoaders, Four Wheel Drive)      1
16   (Backhou Loaders, Two Wheel Drive)      1
17                  (Mitor Graders, No)      1
18                  (Motor GrWders, No)      1
19     (Motor Graders, All Wheel Drive)    166
20                  (Motor Graders, No)   5744
21                  (Motor Graeers, No)      1
22                  (Motor Grapers, No)      1
23                  (Motor lraders, No)      1
24   (iackhoe Loaders, Two Wheel Drive)      1

time: 13.3 ms (started: 2021-09-04 18:19:38 +02:00)

In [ ]:
for col1 in data.str_col:
    for col2 in data.str_col:
        if col1 != col2:
            df_combined = df_clean[[col1, col2]].dropna().apply(lambda row: tuple(row.values), axis=1)
            tuple_unique = np.unique(df_combined, return_counts=True)
            print(tuple_unique)

In [ ]:
d = pd.DataFrame

In [ ]:
np.unique()

In [6]:
a = pd.DataFrame(summery_tuple)
a

,0,1,2,3,4,5,6
0,"(Command Control, Limited Slip)","(Command Control, No Spin)","(Command Control, Standard)","(Conventional, Limited Slip)","(Conventional, No Spin)","(Conventional, Standard)","(Four Wheel Standard, Standard)"
1,8,2,131,297,50,15886,2

time: 20.1 ms (started: 2021-09-04 16:11:53 +02:00)

In [7]:
summery_tuple

(array([('Command Control', 'Limited Slip'),
        ('Command Control', 'No Spin'), ('Command Control', 'Standard'),
        ('Conventional', 'Limited Slip'), ('Conventional', 'No Spin'),
        ('Conventional', 'Standard'), ('Four Wheel Standard', 'Standard')],
       dtype=object),
 array([    8,     2,   131,   297,    50, 15886,     2]))

time: 3.35 ms (started: 2021-09-04 16:12:34 +02:00)

In [5]:
#col1_name = "state"
#col2_name = "Grouser_Type"
#df_2_col = data_train.col_combined_result(col1_name, col2_name, first_pass=True)
#df_2_col

time: 297 Âµs (started: 2021-09-04 16:06:21 +02:00)

In [5]:
df_2_col

               state Grouser_Type
6            Florida       Double
8              Texas       Double
12              Ohio       Double
16           Florida       Double
17         Wisconsin       Double
...              ...          ...
97002          Maine       Triple
97003   Pennsylvania       Triple
97004      Tennessee       Double
97005      Tennessee       Double
97152  New Hampshire       Double

[17803 rows x 2 columns]

time: 13.1 ms (started: 2021-09-04 14:55:20 +02:00)

In [13]:
df.columns.values

array(['Unnamed: 0', 'SalesID', 'SalePrice', 'MachineID', 'ModelID',
       'datasource', 'auctioneerID', 'YearMade',
       'MachineHoursCurrentMeter', 'UsageBand', 'saledate', 'fiModelDesc',
       'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper',
       'Scarifier', 'Tip_Control', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting',
       'Blade_Type', 'Travel_Controls', 'Differential_Type',
       'Steering_Controls'], dtype=object)

time: 2.78 ms (started: 2021-09-04 14:18:58 +02:00)

In [6]:
def dual_hist(self,tresh, first_pass=False):
    if first_pass:
            self.firstpass()
    
    for col1_name in self.str_col:
        for col2_name in self.str_col:
            #todo extract big uniqueness ratio
            if col1 != col2 :
                df_clean = self.col_combined_result(col1_name= col1_name, col2_name=col2_name)
                df_combined = df_clean.apply(lambda row: tuple(row.values), axis=1)
                tuple_unique = np.unique(df_combined, return_counts=True)
    return tuple_unique

time: 915 Âµs (started: 2021-09-04 16:02:29 +02:00)

In [ ]:
col1_name = "state"
col2_name = "Grouser_Type"
df_2_col = data_train.col_combined_result(col1_name, col2_name)

In [19]:
df["state"].nunique()

103

time: 11.4 ms (started: 2021-09-04 14:29:42 +02:00)

# Non significante colomns

In [87]:
df['SalePrice'][df['SalePrice'].duplicated()].index

Int64Index([   25,    33,    35,    38,    39,    42,    45,    51,    52,
               54,
            ...
            99990, 99991, 99992, 99993, 99994, 99995, 99996, 99997, 99998,
            99999],
           dtype='int64', length=99232)

time: 4.89 ms (started: 2021-09-05 13:07:54 +02:00)

In [ ]:
def _is_duplicated(df):
    """Find duplicated row and return dataframe without the duplication
    Args:
        df (pandas.DataFrame): data frame
    Returns:
        duplicated_row: the duplicated rows
        df_clean: the DataFrame without the duplicated rows
    """

    df_new = df.drop([df.columns[0]], axis=1)
    duplicated_row = df[df_new.duplicated()]  # duplicated row
    df_clean = df[~df_new.duplicated()]  # without duplication row

    return df_clean, duplicated_row

In [4]:
def _drop_non_unique(df, col_name, thresh_1= 0.99, thresh_2=0.001, clean_dup=True):
    
    if clean_dup:
        df, _ = utils._is_duplicated(df)  # cleaning duplications in the dataframe
    ratio_unique = utils._is_unique(df, col_name)
    print(ratio_unique)
    if ratio_unique > thresh_1:
        bad_idx = df[col_name][df[col_name].duplicated(keep=False)].index
    elif ratio_unique < thresh_2:
        bad_idx = df[col_name][~df[col_name].duplicated(keep=False)].index  
    else :
        bad_idx=[]
    return bad_idx

time: 568 Âµs (started: 2021-09-05 14:12:24 +02:00)

In [7]:
df["SalesID"].loc[341]

nan

time: 2.57 ms (started: 2021-09-05 14:15:34 +02:00)

In [6]:

for col_name in df.columns.to_list():
    idx = _drop_non_unique(df, col_name, thresh_1= 0.99)
    print(col_name,':', '\n', df[col_name].loc[idx], '\n')

1.0
Unnamed: 0 :
 Series([], Name: Unnamed: 0, dtype: int64)

1.0
SalesID :
 341     NaN
1905    NaN
8853    NaN
11457   NaN
21829   NaN
         ..
93697   NaN
94517   NaN
96574   NaN
97208   NaN
98614   NaN
Name: SalesID, Length: 47, dtype: float64

0.00767568000320237
SalePrice :
 Series([], Name: SalePrice, dtype: float64)

0.9019411646988192
MachineID :
 Series([], Name: MachineID, dtype: float64)

0.026172617261726174
ModelID :
 Series([], Name: ModelID, dtype: int64)

2.0002000200020003e-05
datasource :
 Series([], Name: datasource, dtype: int64)

0.00028002800280028
auctioneerID :
 Series([], Name: auctioneerID, dtype: int64)

0.00114011401140114
YearMade :
 Series([], Name: YearMade, dtype: int64)

0.3956971263493994
MachineHoursCurrentMeter :
 Series([], Name: MachineHoursCurrentMeter, dtype: float64)

0.00038491147036181676
UsageBand :
 Series([], Name: UsageBand, dtype: object)

0.03587358735873587
saledate :
 Series([], Name: saledate, dtype: object)

0.025452545254525453
fiModelDesc :
 Series([], Name: fiModelDesc, dtype: object)

0.010901090109010901
fiBaseModel :
 Series([], Name: fiBaseModel, dtype: object)

0.0014669167947868034
fiSecondaryDesc :
 Series([], Name: fiSecondaryDesc, dtype: object)

0.009283819628647215
fiModelSeries :
 Series([], Name: fiModelSeries, dtype: object)

0.005604886957616979
fiModelDescriptor :
 Series([], Name: fiModelDescriptor, dtype: object)

0.0001641997607374915
ProductSize :
 Series([], Name: ProductSize, dtype: object)

0.00092009200920092
fiProductClassDesc :
 15591     Hydraulic Excavator, Track - 300.0 + Metric Tons
17913                   Wheel Loader - 1000.0 + Horsepower
21167    b'SHlkcmF1bGljIEV4Y2F2YXRvciwgVHJhY2sgLSAxOS4w...
25359    b'U2tpZCBTdGVlciBMb2FkZXIgLSAxMjUxLjAgdG8gMTM1...
39110    b'V2hlZWwgTG9hZGVyIC0gMTc1LjAgdG8gMjAwLjAgSG9y...
65978    b'SHlkcmF1bGljIEV4Y2F2YXRvciwgVHJhY2sgLSAyNC4w...
67659                                                Motor
69519    b'V2hlZWwgTG9hZGVyIC0gMTM1LjAgdG8gMTUwLjAgSG9y...
94636    b'SHlkcmF1bGljIEV4Y2F2YXRvciwgVHJhY2sgLSAxMS4w...
96701    b'SHlkcmF1bGljIEV4Y2F2YXRvciwgVHJhY2sgLSAzMy4w...
98452    b'TW90b3JncmFkZXIgLSAxMzAuMCB0byAxNDUuMCBIb3Jz...
Name: fiProductClassDesc, dtype: object

0.00103010301030103
state :
 Series([], Name: state, dtype: object)

0
ProductGroup :
 Series([], Name: ProductGroup, dtype: float64)

0.00056005600560056
ProductGroupDesc :
 2456         Backhoe Loaderq
2825        Track ExcavatYrs
4552     Track TSpe Tractors
5536     Track Type TractorP
8624        Tracq Excavators
                ...
91339    Track Type TJactors
92141           zheel Loader
96735       Track ExYavators
98250          Motor lraders
98518          Motor Grapers
Name: ProductGroupDesc, Length: 50, dtype: object

0.00012232415902140674
Drive_System :
 Series([], Name: Drive_System, dtype: object)

8.00280098034312e-05
Enclosure :
 Series([], Name: Enclosure, dtype: object)

3.755727484413731e-05
Forks :
 Series([], Name: Forks, dtype: object)

0.00014935404376073482
Pad_Type :
 Series([], Name: Pad_Type, dtype: object)

6.950075292482335e-05
Ride_Control :
 Series([], Name: Ride_Control, dtype: object)

7.467702188036741e-05
Stick :
 Series([], Name: Stick, dtype: object)

0.0001441987058166153
Transmission :
 Series([], Name: Transmission, dtype: object)

7.467702188036741e-05
Turbocharged :
 Series([], Name: Turbocharged, dtype: object)

0.000338123415046492
Blade_Extension :
 Series([], Name: Blade_Extension, dtype: object)

0.0010143702451394759
Blade_Width :
 Series([], Name: Blade_Width, dtype: object)

0.0005071851225697379
Enclosure_Type :
 Series([], Name: Enclosure_Type, dtype: object)

0.000338123415046492
Engine_Horsepower :
 Series([], Name: Engine_Horsepower, dtype: object)

0.0001641160300332335
Hydraulics :
 Series([], Name: Hydraulics, dtype: object)

0.000338123415046492
Pushblock :
 Series([], Name: Pushblock, dtype: object)

0.00013942626093624733
Ripper :
 Series([], Name: Ripper, dtype: object)

0.000338123415046492
Scarifier :
 Series([], Name: Scarifier, dtype: object)

0.0005071851225697379
Tip_Control :
 Series([], Name: Tip_Control, dtype: object)

0.0007176818875033642
Tire_Size :
 1166      7.0"
19719    23.1"
Name: Tire_Size, dtype: object

6.766205061121386e-05
Coupler :
 Series([], Name: Coupler, dtype: object)

0.00019813750743015652
Coupler_System :
 Series([], Name: Coupler_System, dtype: object)

0.00019845207382417147
Grouser_Tracks :
 Series([], Name: Grouser_Tracks, dtype: object)

0.0002976781107362572
Hydraulics_Flow :
 Series([], Name: Hydraulics_Flow, dtype: object)

0.00011234061674998596
Track_Type :
 Series([], Name: Track_Type, dtype: object)

0.0010097610232245036
Undercarriage_Pad_Width :
 Series([], Name: Undercarriage_Pad_Width, dtype: object)

0.0012918445293192541
Stick_Length :
 Series([], Name: Stick_Length, dtype: object)

0.00016846361185983828
Thumb :
 Series([], Name: Thumb, dtype: object)

0.00016850146034598967
Pattern_Changer :
 15626    No
Name: Pattern_Changer, dtype: object

0.00016851092512497893
Grouser_Type :
 66011    Single
Name: Grouser_Type, dtype: object

8.785802143735723e-05
Backhoe_Mounting :
 Series([], Name: Backhoe_Mounting, dtype: object)

0.0004384234293480644
Blade_Type :
 Series([], Name: Blade_Type, dtype: object)

0.00030686949278856693
Travel_Controls :
 12587    1 Speed
Name: Travel_Controls, dtype: object

0.00018316136516270836
Differential_Type :
 Series([], Name: Differential_Type, dtype: object)

0.00018319491939423546
Steering_Controls :
 Series([], Name: Steering_Controls, dtype: object)

time: 36 s (started: 2021-09-05 14:12:25 +02:00)

In [71]:
df["Tire_Size"]

0        None or Unspecified
1                       23.5
2                        NaN
3                        NaN
4                        NaN
                ...
99995                  15.5"
99996                  17.5"
99997                  17.5"
99998                  17.5"
99999    None or Unspecified
Name: Tire_Size, Length: 100000, dtype: object

time: 3.23 ms (started: 2021-09-05 14:01:01 +02:00)

In [32]:
n_duped_idx = ~df[col_name].duplicated()
iddd = set(df.index) - set(n_duped_idx[~n_duped_idx].index.values.tolist())
iddd
#df[col_name][iddd]

{0, 23974}

time: 27.2 ms (started: 2021-09-05 13:38:20 +02:00)

In [52]:
df

,Unnamed: 0,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,0,1139246.0,66000.0,999089.0,3157,121,3,2004,68.0,Low,11/16/2006 0:00,521D,521,D,NaN,NaN,NaN,Wheel Loader - 110.0 to 120.0 Horsepower,Alabama,NaN,Wheel Loader,NaN,EROPS w AC,None or Unspecified,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1,1139248.0,57000.0,117657.0,77,121,3,1996,4640.0,Low,3/26/2004 0:00,950FII,950,F,II,NaN,Medium,Wheel Loader - 150.0 to 175.0 Horsepower,North Carolina,NaN,Wheel Loader,NaN,EROPS w AC,None or Unspecified,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,23.5,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,2,1139249.0,10000.0,434808.0,7009,121,3,2001,2838.0,High,2/26/2004 0:00,226,226,NaN,NaN,NaN,NaN,Skid Steer Loader - 1351.0 to 1601.0 Lb Operat...,New York,NaN,Skid Steer Loaders,NaN,OROPS,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,Standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1139251.0,38500.0,1026470.0,332,121,3,2001,3486.0,High,5/19/2011 0:00,PC120-6E,PC120,NaN,-6E,NaN,Small,"Hydraulic Excavator, Track - 12.0 to 14.0 Metr...",Texas,NaN,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1139253.0,11000.0,1057373.0,17311,121,3,2007,722.0,Medium,7/23/2009 0:00,S175,S175,NaN,NaN,NaN,NaN,Skid Steer Loader - 1601.0 to 1751.0 Lb Operat...,New York,NaN,Skid Steer Loaders,NaN,EROPS,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,None or Unspecified,None or Unspecified,Standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1417929.0,93500.0,26366.0,3357,132,6,1990,NaN,NaN,2/24/1994 0:00,12G,12,G,NaN,NaN,NaN,Motorgrader - 130.0 to 145.0 Horsepower,North Carolina,NaN,Motor Graders,No,EROPS w AC,NaN,NaN,NaN,NaN,None or Unspecified,NaN,None or Unspecified,12',Low Profile,No,Base + 1 Function,Yes,None or Unspecified,Yes,Sideshift & Tip,"15.5""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,1417930.0,47000.0,1412330.0,3357,132,9,1990,NaN,NaN,12/2/2010 0:00,12G,12,G,NaN,NaN,NaN,Motorgrader - 130.0 to 145.0 Horsepower,South Carolina,NaN,Motor Graders,No,EROPS w AC,NaN,NaN,NaN,NaN,None or Unspecified,NaN,None or Unspecified,14',Low Profile,No,Base + 1 Function,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,"17.5""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,1417931.0,47000.0,1412330.0,3357,132,9,1990,NaN,NaN,5/20/2010 0:00,12G,12,G,NaN,NaN,NaN,Motorgrader - 130.0 to 145.0 Horsepower,South Carolina,NaN,Motor Graders,No,EROPS w AC,NaN,NaN,NaN,NaN,None or Unspecified,NaN,None or Unspecified,14',Low Profile,No,Base + 1 Function,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,"17.5""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,1417934.0,48000.0,1412330.0,3357,132,9,1990,NaN,NaN,8/19/2010 0:00,12G,12,G,NaN,NaN,NaN,Motorgrader - 130.0 to 145.0 Horsepower,South Carolina,NaN,Motor Graders,No,EROPS w AC,NaN,NaN,NaN,NaN,None or Unspecified,NaN,None or Unspecified,14',Low Profile,No,Base + 1 Function,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,"17.5""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,1417937.0,92500.0,1195271.0,3357,132,1,1990,NaN,NaN,3/17/1994 0:00,12G,12,G,NaN,NaN,NaN,Motorgrader - 130.0 to 145.0 Horsepower,Florida,NaN,Motor Graders,No,EROPS,NaN,NaN,NaN,NaN,None or Unspecified,NaN,None or Unspecified,None or Unspecified,None or Unspecified,No,Base + 1 Function,None or Unspecified,None or Unspecified,Yes,Sideshift & Tip,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

time: 43 ms (started: 2021-09-05 13:53:10 +02:00)

In [54]:
df.groupby(['fiModelDesc']).size()

fiModelDesc
1080       43
1080B      49
1088       79
1088TTL     1
10C         1
           ..
ZX450LC     8
ZX600LC     1
ZX75        3
ZX75USA     1
ZX800       2
Length: 2545, dtype: int64

time: 10.5 ms (started: 2021-09-05 13:54:04 +02:00)

In [22]:
df.columns

Index(['Unnamed: 0', 'SalesID', 'SalePrice', 'MachineID', 'ModelID',
       'datasource', 'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter',
       'UsageBand', 'saledate', 'fiModelDesc', 'fiBaseModel',
       'fiSecondaryDesc', 'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension',
       'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Hydraulics',
       'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size',
       'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow',
       'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb',
       'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type',
       'Travel_Controls', 'Differential_Type', 'Steering_Controls'],
      dtype='object')

time: 1.98 ms (started: 2021-09-05 13:30:30 +02:00)

In [17]:
for col in df.columns.to_list():
    print(col, utils._is_unique(df, col))

Unnamed: 0 1.0
SalesID 0.9998999529778996
SalePrice 0.0076749119436439325
MachineID 0.9018509254627314
ModelID 0.02617
datasource 2e-05
auctioneerID 0.00028
YearMade 0.00114
MachineHoursCurrentMeter 0.3956820859781824
UsageBand 0.0003848950091947141
saledate 0.03587
fiModelDesc 0.02545
fiBaseModel 0.0109
fiSecondaryDesc 0.0014667512869332205
fiModelSeries 0.009282588516111922
fiModelDescriptor 0.005604886957616979
ProductSize 0.00016418435557640437
fiProductClassDesc 0.00092
state 0.00103
ProductGroup 0
ProductGroupDesc 0.00056
Drive_System 0.0001223091976516634
Enclosure 8.002000500125032e-05
Forks 3.755304367418979e-05
Pad_Type 0.00014933174046143508
Ride_Control 6.949431304871551e-05
Stick 7.466587023071754e-05
Transmission 0.00014417791554778597
Turbocharged 7.466587023071754e-05
Blade_Extension 0.000338123415046492
Blade_Width 0.0010143702451394759
Enclosure_Type 0.0005071851225697379
Engine_Horsepower 0.000338123415046492
Hydraulics 0.0001641025641025641
Pushblock 0.000338123415046492
Ripper 0.00013940682396403303
Scarifier 0.000338123415046492
Tip_Control 0.0005071851225697379
Tire_Size 0.0007176818875033642
Coupler 6.765899864682003e-05
Coupler_System 0.00019809825673534074
Grouser_Tracks 0.0001984126984126984
Hydraulics_Flow 0.00029761904761904765
Track_Type 0.00011234061674998596
Undercarriage_Pad_Width 0.0010097610232245036
Stick_Length 0.0012918445293192541
Thumb 0.00016846361185983828
Pattern_Changer 0.00016850146034598967
Grouser_Type 0.00016851092512497893
Backhoe_Mounting 8.784258608573436e-05
Blade_Type 0.0004383465567877964
Travel_Controls 0.00030681569143107607
Differential_Type 0.00018316136516270836
Steering_Controls 0.00018319491939423546
time: 507 ms (started: 2021-09-05 13:25:11 +02:00)

In [49]:
utils._is_unique(df, 'datasource')

2.0002000200020003e-05

time: 532 ms (started: 2021-09-05 11:52:28 +02:00)

In [56]:
df_clean, _ = utils._is_duplicated(df)

time: 510 ms (started: 2021-09-05 11:58:11 +02:00)

In [63]:
df_clean['SalesID'].dropna()

0        1139246.0
1        1139248.0
2        1139249.0
3        1139251.0
4        1139253.0
           ...
99995    1417929.0
99996    1417930.0
99997    1417931.0
99998    1417934.0
99999    1417937.0
Name: SalesID, Length: 99943, dtype: float64

time: 6.53 ms (started: 2021-09-05 12:05:17 +02:00)

In [62]:
df_clean[(df_clean['SalesID']).dropna().duplicated()]

<ipython-input-62-3f22c497ef59>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_clean[(df_clean['SalesID']).dropna().duplicated()]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

time: 24.3 ms (started: 2021-09-05 12:05:06 +02:00)

In [64]:
col_name='SalesID'
df_clean[col_name].nunique() / df_clean[col_name].shape[0]

0.9995299529952996

time: 10.7 ms (started: 2021-09-05 12:06:56 +02:00)

In [65]:
df_clean[col_name].dropna().nunique() / df_clean[col_name].dropna().shape[0]

1.0

time: 10.4 ms (started: 2021-09-05 12:07:28 +02:00)

In [69]:
def _is_unique(df, col_name=""):
    """verify uniqueness over a specified column, and find the uniqueness coefficient
    Args:
        df (pandas.DataFrame): Data Frame.
        col_name (str, optional): Column name. Defaults to "".
    Returns:
        ratio : 1 - (number of repeated data in a column)/card(the column)
                if 1 means all values are unique
    """
    #df_clean, _ = _is_duplicated(df)
    if df[col_name].dropna().shape[0]==0:
        return 0
    else:
        return df[col_name].dropna().nunique() / df[col_name].dropna().shape[0]

time: 411 Âµs (started: 2021-09-05 12:26:20 +02:00)

In [8]:
for col in df.columns.to_list():
    print(col, utils._is_unique(df, col))

Unnamed: 0 1.0
SalesID 0.9998999529778996
SalePrice 0.0076749119436439325
MachineID 0.9018509254627314
ModelID 0.02617
datasource 2e-05
auctioneerID 0.00028
YearMade 0.00114
MachineHoursCurrentMeter 0.3956820859781824
UsageBand 0.0003848950091947141
saledate 0.03587
fiModelDesc 0.02545
fiBaseModel 0.0109
fiSecondaryDesc 0.0014667512869332205
fiModelSeries 0.009282588516111922
fiModelDescriptor 0.005604886957616979
ProductSize 0.00016418435557640437
fiProductClassDesc 0.00092
state 0.00103
ProductGroup 0
ProductGroupDesc 0.00056
Drive_System 0.0001223091976516634
Enclosure 8.002000500125032e-05
Forks 3.755304367418979e-05
Pad_Type 0.00014933174046143508
Ride_Control 6.949431304871551e-05
Stick 7.466587023071754e-05
Transmission 0.00014417791554778597
Turbocharged 7.466587023071754e-05
Blade_Extension 0.000338123415046492
Blade_Width 0.0010143702451394759
Enclosure_Type 0.0005071851225697379
Engine_Horsepower 0.000338123415046492
Hydraulics 0.0001641025641025641
Pushblock 0.000338123415046492
Ripper 0.00013940682396403303
Scarifier 0.000338123415046492
Tip_Control 0.0005071851225697379
Tire_Size 0.0007176818875033642
Coupler 6.765899864682003e-05
Coupler_System 0.00019809825673534074
Grouser_Tracks 0.0001984126984126984
Hydraulics_Flow 0.00029761904761904765
Track_Type 0.00011234061674998596
Undercarriage_Pad_Width 0.0010097610232245036
Stick_Length 0.0012918445293192541
Thumb 0.00016846361185983828
Pattern_Changer 0.00016850146034598967
Grouser_Type 0.00016851092512497893
Backhoe_Mounting 8.784258608573436e-05
Blade_Type 0.0004383465567877964
Travel_Controls 0.00030681569143107607
Differential_Type 0.00018316136516270836
Steering_Controls 0.00018319491939423546
time: 519 ms (started: 2021-09-05 13:23:09 +02:00)

In [57]:
for col in df.columns.to_list():
    print(col, utils._is_unique(df_clean, col))

Unnamed: 0 1.0
SalesID 0.9995299529952996
SalePrice 0.007670767076707671
MachineID 0.9014901490149015
ModelID 0.026172617261726174
datasource 2.0002000200020003e-05
auctioneerID 0.00028002800280028
YearMade 0.00114011401140114
MachineHoursCurrentMeter 0.1041104110411041
UsageBand 9.000900090009e-05
saledate 0.03587358735873587
fiModelDesc 0.025452545254525453
fiBaseModel 0.010901090109010901
fiSecondaryDesc 0.00104010401040104
fiModelSeries 0.0007000700070007
fiModelDescriptor 0.0008900890089008901
ProductSize 7.000700070007e-05
fiProductClassDesc 0.00092009200920092
state 0.00103010301030103
ProductGroup 0.0
ProductGroupDesc 0.00056005600560056
Drive_System 4.0004000400040005e-05
Enclosure 8.000800080008001e-05
Forks 2.0002000200020003e-05
Pad_Type 4.0004000400040005e-05
Ride_Control 3.0003000300030004e-05
Stick 2.0002000200020003e-05
Transmission 8.000800080008001e-05
Turbocharged 2.0002000200020003e-05
Blade_Extension 2.0002000200020003e-05
Blade_Width 6.000600060006001e-05
Enclosure_Type 3.0003000300030004e-05
Engine_Horsepower 2.0002000200020003e-05
Hydraulics 0.00012001200120012002
Pushblock 2.0002000200020003e-05
Ripper 4.0004000400040005e-05
Scarifier 2.0002000200020003e-05
Tip_Control 3.0003000300030004e-05
Tire_Size 0.00016001600160016002
Coupler 3.0003000300030004e-05
Coupler_System 2.0002000200020003e-05
Grouser_Tracks 2.0002000200020003e-05
Hydraulics_Flow 3.0003000300030004e-05
Track_Type 2.0002000200020003e-05
Undercarriage_Pad_Width 0.00018001800180018
Stick_Length 0.00023002300230023
Thumb 3.0003000300030004e-05
Pattern_Changer 3.0003000300030004e-05
Grouser_Type 3.0003000300030004e-05
Backhoe_Mounting 2.0002000200020003e-05
Blade_Type 0.00010001000100010001
Travel_Controls 7.000700070007e-05
Differential_Type 3.0003000300030004e-05
Steering_Controls 3.0003000300030004e-05
time: 28.8 s (started: 2021-09-05 11:58:21 +02:00)

In [ ]:
df.groupby('MachineID').size()

In [38]:
df['Blade_Extension'].dropna()

21                       Yes
28       None or Unspecified
39       None or Unspecified
46       None or Unspecified
47       None or Unspecified
                ...
99995    None or Unspecified
99996    None or Unspecified
99997    None or Unspecified
99998    None or Unspecified
99999    None or Unspecified
Name: Blade_Extension, Length: 5915, dtype: object

time: 8.47 ms (started: 2021-09-05 11:38:33 +02:00)

In [54]:
df.columns.to_list()

['Unnamed: 0',
 'SalesID',
 'SalePrice',
 'MachineID',
 'ModelID',
 'datasource',
 'auctioneerID',
 'YearMade',
 'MachineHoursCurrentMeter',
 'UsageBand',
 'saledate',
 'fiModelDesc',
 'fiBaseModel',
 'fiSecondaryDesc',
 'fiModelSeries',
 'fiModelDescriptor',
 'ProductSize',
 'fiProductClassDesc',
 'state',
 'ProductGroup',
 'ProductGroupDesc',
 'Drive_System',
 'Enclosure',
 'Forks',
 'Pad_Type',
 'Ride_Control',
 'Stick',
 'Transmission',
 'Turbocharged',
 'Blade_Extension',
 'Blade_Width',
 'Enclosure_Type',
 'Engine_Horsepower',
 'Hydraulics',
 'Pushblock',
 'Ripper',
 'Scarifier',
 'Tip_Control',
 'Tire_Size',
 'Coupler',
 'Coupler_System',
 'Grouser_Tracks',
 'Hydraulics_Flow',
 'Track_Type',
 'Undercarriage_Pad_Width',
 'Stick_Length',
 'Thumb',
 'Pattern_Changer',
 'Grouser_Type',
 'Backhoe_Mounting',
 'Blade_Type',
 'Travel_Controls',
 'Differential_Type',
 'Steering_Controls']

time: 3.78 ms (started: 2021-09-05 11:53:24 +02:00)

In [30]:
df.columns[df.isnull().mean(axis=0) >0.9]

Index(['fiModelSeries', 'ProductGroup', 'Blade_Extension', 'Blade_Width',
       'Enclosure_Type', 'Engine_Horsepower', 'Pushblock', 'Scarifier',
       'Tip_Control'],
      dtype='object')

time: 113 ms (started: 2021-09-05 11:32:06 +02:00)

In [28]:
(df['fiModelSeries', 'fiModel']).dropna()

1         II
3        -6E
12        LC
23        II
35        II
        ...
97961     II
97962     II
97963     II
97964     II
97965     II
Name: fiModelSeries, Length: 7541, dtype: object

time: 9.75 ms (started: 2021-09-05 11:29:05 +02:00)

In [27]:
df['fiModelSeries']

0        NaN
1         II
2        NaN
3        -6E
4        NaN
        ...
99995    NaN
99996    NaN
99997    NaN
99998    NaN
99999    NaN
Name: fiModelSeries, Length: 100000, dtype: object

time: 4.59 ms (started: 2021-09-05 11:28:59 +02:00)