In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
%load_ext autotime
import os
import sys
sys.path.insert(0, os.path.abspath('../src/'))
import utils
import improve_data_quality
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import typo
import function_typo
pd.set_option("display.max_rows", 10, "display.max_columns", None) #show 10 rows and 5 columns

time: 1.67 s (started: 2021-09-04 11:18:31 +02:00)

In [2]:
train_data_path = "../data/data.csv"
test_data_path = "../data/test.csv"
df = utils._to_DataFrame(test_data_path)
#df_test = utils._to_DataFrame(test_data)
#meta_data = utils.get_metadata(df)

time: 4.52 ms (started: 2021-09-04 11:18:33 +02:00)

In [3]:
from improve_data_quality import Data 
data_train = Data(train_data_path)
data_test = Data(test_data_path)

time: 454 ms (started: 2021-09-04 11:18:34 +02:00)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (14,15,16,23,24,25,26,28,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_train = data_train.data
df_test = data_test.data
df_test

          MARQUE
0     MERCEDES-B
1       VAN HOOL
2     MERCEDES-B
3     MERCEDES-B
4       VAN HOOL
...          ...
9941     CITROEN
9942     RENAULT
9943         BMW
9944  VOLKSWAGEN
9945  VOLKSWAGEN

[9946 rows x 1 columns]

time: 12.8 ms (started: 2021-09-04 11:18:36 +02:00)

In [5]:
col_name="MARQUE"

time: 425 µs (started: 2021-09-04 11:18:37 +02:00)

In [ ]:
df_test.pivot_table(columns=['MARQUE'], aggfunc='size') #summery of duplication

In [ ]:
df_test["MARQUE"].nunique()/df_test.shape[0]

In [ ]:
idx, suggestion = typo.index_uncorrect_grammar_suggestion(data_test.data[col_name], 1)
#print(data.data['state'].iloc[idx], suggestion)
print(list(zip(df_test[col_name].iloc[idx], suggestion)))

In [ ]:
idx_test, suggestion_test = typo.index_uncorrect_grammar_suggestion(df_test[col_name], 1) #testing algo
print(list(zip(df_test[col_name].iloc[idx_test], suggestion_test)))

In [ ]:
col_name_2= "state"
idx_train, suggestion_train = typo.index_uncorrect_grammar_suggestion(df_train[col_name_2], 1) #testing algo
print(list(zip(df_train[col_name_2].iloc[idx_train], suggestion_train)))

## test second metric MC

In [ ]:
words, correct_words = function_typo.Typo_correction(df["MARQUE"])
words